
.objects-body{
    background-color: #dee6e9;
}
.jumbortan {
    padding:70px 0;
}
.jumbortan h2 {
    padding: 30px 0;
}
.list-group-item {
    border-color: #fff;
    border-radius: 30px;
    background-color: transparent;
    margin:  10px 0;
    transition: all 300ms ease-in-out;
}
.list-group-item:hover {
    background-color: #fff;
    transition: all 300ms ease-in-out;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 30px;
}

.footer {
    text-align: center;
    padding: 40px 0;
}
